<form (ngSubmit)="onSubmit(form)" #form="ngForm" >
  <h2>Create New Character</h2>
  <div class="form-group">
    <label for="name">Character Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel #name="ngModel" required>
    <div *ngIf="name.invalid && name.dirty" class="alert alert-danger mt-1">Please enter the name of character</div>
  </div>
  <div class="form-group">
    <label for="side">Choose side</label>
    <select class="form-control" name="side" id="side" ngModel>
      <option *ngFor="let side of sides" [value]="side.name">
        {{ side.display }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" [disabled]="form.invalid">Add Character</button>
</form>
